examples/Convert to PDF Example2.json
{
  "name": "Convert to PDF Example2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "6464870e-f82e-4250-8003-2ba6d38a7117",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conversionType": "htmlToPdf",
        "inputSource": "binaryData",
        "additionalOptions": {
          "outputPropertyName": "data1"
        },
        "htmlOptions": {}
      },
      "type": "n8n-nodes-dante-pdf.dantePdf",
      "typeVersion": 1,
      "position": [
        336,
        0
      ],
      "id": "14a3217c-058e-4073-991f-39f3831d313b",
      "name": "Dante PDF"
    },
    {
      "parameters": {
        "url": "https://n.news.naver.com/article/newspaper/020/0003661036?date=20250915",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        0
      ],
      "id": "74b64d42-33d4-4e14-8038-a55fe1ed3d24",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {
          "fileName": "test.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "ea11c692-d063-47ee-8ab8-a2e9d1c25263",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        80,
        192
      ],
      "id": "60934a9c-f638-4215-b25b-d10acfa5debe",
      "name": "Markdown"
    },
    {
      "parameters": {
        "conversionType": "htmlToPdf",
        "content": "={{ $json.data }}",
        "additionalOptions": {
          "outputPropertyName": "data2"
        },
        "htmlOptions": {}
      },
      "type": "n8n-nodes-dante-pdf.dantePdf",
      "typeVersion": 1,
      "position": [
        336,
        192
      ],
      "id": "dee30938-f434-4ca9-a275-76ccf3720a9b",
      "name": "Dante PDF1"
    },
    {
      "parameters": {
        "conversionType": "mergePdfs",
        "additionalOptions": {
          "outputPropertyName": "data"
        },
        "mergeOptions": {}
      },
      "type": "n8n-nodes-dante-pdf.dantePdf",
      "typeVersion": 1,
      "position": [
        816,
        96
      ],
      "id": "7c421b7d-3975-4f15-858e-5a882599b3b7",
      "name": "Dante PDF2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        96
      ],
      "id": "c712965c-e16b-44d9-b89a-211bffeefed9",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Dante PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Dante PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dante PDF": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dante PDF1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Dante PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f801f24f-cf55-43ce-af94-123948a3aa2d",
  "meta": {
    "instanceId": "ae59e3c4dbc3b4aab3d81fc78280645903de4834ef0fa1a8e01178181c7a57a4"
  },
  "id": "JC6KnoKXK4tEbbEC",
  "tags": []
}