examples/Convert to PDF Example1.json
{
  "name": "Convert to PDF Example1",
  "nodes": [
    {
      "parameters": {
        "content": "={{ $json.data }}",
        "additionalOptions": {},
        "markdownOptions": {}
      },
      "type": "n8n-nodes-dante-pdf.dantePdf",
      "typeVersion": 1,
      "position": [
        416,
        -80
      ],
      "id": "d211d954-398f-4530-8c95-bc57c89b8e46",
      "name": "Dante PDF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        -80
      ],
      "id": "426d2af2-5d66-4dd0-b62b-2b32364b5151",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dandacompany/n8n-nodes-dante-pdf/refs/heads/master/README.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -80
      ],
      "id": "a58616eb-8b61-44d5-9e4d-3154fa129e29",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://dante-datalab.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        80
      ],
      "id": "b3abd117-2f80-4cbe-af79-0c379a21fe06",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conversionType": "htmlToPdf",
        "content": "={{ $json.data }}",
        "additionalOptions": {},
        "htmlOptions": {}
      },
      "type": "n8n-nodes-dante-pdf.dantePdf",
      "typeVersion": 1,
      "position": [
        416,
        80
      ],
      "id": "10b99d12-cf89-4ec9-8955-8848e3fdd6c6",
      "name": "Dante PDF1"
    },
    {
      "parameters": {
        "url": "https://github.com/felixlimanta/sample-docx-repo/raw/refs/heads/master/doc/lorem_ipsum.docx",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        272
      ],
      "id": "e964b6ca-9c06-4b88-88a0-ccc91ca9ca88",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conversionType": "docxToPdf",
        "inputSource": "binaryData",
        "additionalOptions": {},
        "docsOptions": {}
      },
      "type": "n8n-nodes-dante-pdf.dantePdf",
      "typeVersion": 1,
      "position": [
        416,
        272
      ],
      "id": "e8e54c45-ae61-436f-a073-b73be13365b0",
      "name": "Dante PDF2"
    },
    {
      "parameters": {
        "url": "https://www.republicrecords.com/cdn/shop/files/REPU-00092_KPOP_DemonHunters_CollectionPage-Banner-02Mobile.png?v=1751556728&width=900",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        448
      ],
      "id": "5875bd31-78ef-4fc4-bec0-d25c98858f96",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "conversionType": "imageToPdf",
        "inputSource": "binaryData",
        "additionalOptions": {},
        "imageOptions": {}
      },
      "type": "n8n-nodes-dante-pdf.dantePdf",
      "typeVersion": 1,
      "position": [
        416,
        448
      ],
      "id": "e37605f7-90a3-45a2-9fe7-491c874647b4",
      "name": "Dante PDF3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Dante PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Dante PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Dante PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Dante PDF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "117db91d-e950-4b39-a4d3-906e7bf0868e",
  "meta": {
    "instanceId": "ccf75c1528ec79e0575a36a666a74245bc7df6d6f11a177adedc1c581cba686f"
  },
  "id": "rVAqASMRYDOTX4VM",
  "tags": []
}